// tablet and desktop screen breakpoints
$tablet-width: 768px;
$desktop-width: 1280px;


$primary-color: #9d5a4d;
$secondary-color: #e6dad1;


$color-white: #ffffff;


$color-muted-gold: #9d7554;
$color-instock-indigo: #2e66e5;
$color-slate: #5c667e;
$color-cloud: #bdc5d5;
$color-graphite: #232940;
$color-light-gray: #f7f8f9;
$color-green: #158463;
$color-red: #c94515;

// border-radius
$border-radius: 1.25rem;

//page-oboder-radius
$page-border-radius: 0.1875rem;

//desktop container max-width
$desktop-container-width: 95%;

// paddings of the page on different screen sizes
$page-padding-mobile: 1rem;
$page-padding-tablet: 2rem;