@use '../../../styles/partials/variables' as *;
@use '../../../styles/partials/mixins' as *;



.cta-button__primary,
.cta-button__header-btn,
.cta-button__signin,
.cta-button__register{
    cursor: pointer;
    border-radius: $border-radius;
    width: 4rem;
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
    color: $color-white;
    border: none;
    height: 3rem;
    justify-content: center;
    font-weight: 600;
    line-height: 1.375rem;
    font-style: normal;
    white-space: nowrap;
    font-size: 0.8125rem;

    @include tablet {
        width: 8rem;
        font-size: 0.875rem;
        // margin: 0 1rem;
        height: 2rem;
    }
}

.cta-button__primary {
    background-color: $primary-color;
    color: $secondary-color;

    &:hover {
        background-color: darken($primary-color, 15%);
        color: $secondary-color;
        text-decoration: underline;
    }

    &:active {
        background-color: $color-muted-gold;
        color: $color-white;
    }
}

.cta-button__header-btn {
    background-color: $secondary-color;
        color: $primary-color;

    &:hover {
        background-color: darken($primary-color, 15%);
        color: $secondary-color;
        text-decoration: underline;
    }

    &:active {
        background-color: $color-muted-gold;
        color: $color-white;
    }
}

.cta-button__register {
    background-color: $secondary-color;
    color: $primary-color;
    width: 23rem;

    &:hover {
        background-color: darken($primary-color, 15%);
        color: $secondary-color;
        text-decoration: underline;
    }

    &:active {
        background-color: $color-muted-gold;
        color: $color-white;
    }
}

.cta-button__signin {
    background-color: $primary-color;
    color: $secondary-color;
    width: 23rem;

    &:hover {
        background-color: darken($primary-color, 15%);
        color: $secondary-color;
        text-decoration: underline;
    }

    &:active {
        background-color: $color-muted-gold;
        color: $color-white;
    }
}